#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix-transform = &default_transform; };
};

/ {
    combos {
        compatible = "zmk,combos";

        capsword {
            bindings = <&caps_word>;
            key-positions = <13 16>;
            layers = <0>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp Q               &kp W           &kp F               &kp P             &kp B      &kp J        &kp L              &kp U                &kp Y            &kp SQT
&mt LEFT_COMMAND A  &mt LEFT_ALT R  &mt LEFT_CONTROL S  &mt LEFT_SHIFT T  &kp G      &kp M        &mt RIGHT_SHIFT N  &mt RIGHT_CONTROL E  &mt RIGHT_ALT I  &mt RIGHT_COMMAND O
&lt 3 Z             &kp X           &kp C               &kp D             &kp V      &kp K        &kp H              &kp COMMA            &kp PERIOD       &kp SLASH
                                    &kp ESCAPE          &lt 3 SPACE       &lt 1 TAB  &lt 4 ENTER  &lt 2 BACKSPACE    &kp DEL
            >;
        };

        Number {
            bindings = <
&kp CARET                  &kp NUMBER_7           &kp NUMBER_8               &kp NUMBER_9             &kp PLUS   &kp PLUS   &kp N7                    &kp N8                      &kp N9                  &kp CARET
&mt LEFT_COMMAND ASTERISK  &mt LEFT_ALT NUMBER_4  &mt LEFT_CONTROL NUMBER_5  &mt LEFT_SHIFT NUMBER_6  &kp MINUS  &kp MINUS  &mt RIGHT_SHIFT NUMBER_4  &mt RIGHT_CONTROL NUMBER_5  &mt RIGHT_ALT NUMBER_6  &mt RIGHT_COMMAND ASTERISK
&kp SLASH                  &kp NUMBER_1           &kp NUMBER_2               &kp NUMBER_3             &kp EQUAL  &kp EQUAL  &kp N1                    &kp N2                      &kp N3                  &kp FSLH
                                                  &kp NUMBER_0               &kp PERIOD               &trans     &kp ENTER  &kp N0                    &kp DOT
            >;
        };

        Symbol {
            bindings = <
&kp GRAVE      &kp HASH         &kp DOLLAR     &kp LEFT_BRACE        &kp RIGHT_BRACE        &trans  &trans           &trans             &trans         &trans
&kp SEMICOLON  &kp PERCENT      &kp AMPERSAND  &kp LBKT              &kp RBKT               &trans  &kp RIGHT_SHIFT  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &kp RIGHT_COMMAND
&kp BACKSLASH  &kp EXCLAMATION  &kp AT_SIGN    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans           &trans             &trans         &trans
                                &trans         &trans                &trans                 &trans  &trans           &trans
            >;
        };

        Navigation {
            bindings = <
&kp LG(Z)  &kp LG(X)  &kp LG(C)  &kp LG(V)  &trans  &trans  &trans          &kp UP_ARROW    &trans           &trans
&kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans
&trans     &trans     &trans     &trans     &trans  &trans  &trans          &trans          &trans           &trans
                      &trans     &trans     &trans  &trans  &trans          &trans
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans        &trans          &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &sys_reset    &bootloader
                &trans  &trans  &trans  &trans        &trans          &trans
            >;
        };
    };
};
